* {
    
    

}

html,
body {
    background-color: #fff;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

header {
    background-image: url(//starter-code/apple-pie-starter-code/images/apple-pie.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 500px;
}

h2 {
    
    margin-bottom: 30px;
}

div {
    height: 500px;
    border-bottom: 2px solid #666666;
    display: flex;  
    justify-content: center;
    flex-direction: column;
} 

p {
    margin-bottom: 30px;
    width: 750px;
}

img {
    width: 400px;
}