* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #fff;
    color: #000000;
    font-family: 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

header {
    background-image: url(images/apple-pie.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 500px;
}

h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

section {
    height: 500px;
} 

p {
    display: flex;  
    justify-content: center;
}

img {
    display: flex;
    justify-content: center;
    height: 100px;
}